@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header li, button, .title{
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a{
  text-decoration: none;}

.slide-indicator{
  height: 200px;
  width: 100%;
  background-color: #00000046;
}



.mySlider {
  background: linear-gradient(white, white) padding-box,
  linear-gradient(to right, #E8489D, #7E3AEC) border-box;
  border: 4px solid transparent;
}

.best-seller{
  background: linear-gradient(white, white) padding-box,
  linear-gradient(to right, #E8489D, #7E3AEC) border-box;
  border: 3px solid transparent;
}


.swiper-scrollbar {
  background: #ffffff86 !important;
}
.product-container::-webkit-scrollbar{
  width: 10px;
  border: 1px solid transparent;
  border-radius: 10px;
}
.product-container::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to top, #E8489D, #7E3AEC);
  border-radius: 5px; 
}

.product-container::-webkit-scrollbar-track {
  background-color: rgba(252, 244, 244, 0.705); 
  border-radius: 5px; /* Đường cong viền của phần track */
}

.product-container::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Màu khi hover đối với phần đối với thanh trượt */
}

.product-card{
  background: linear-gradient(white, white) padding-box,
  linear-gradient(to right, #E8489D, #7E3AEC) border-box;
  border: 3px solid transparent;
}

.product-info{
  background: #00000077;
}